#header
{
    font-size: 100;
    color: #CCAF54;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.navbar
{
    overflow: hidden;
      background-color: #CCAF54;
      top: 150;
      width: 100%;
      position: fixed;
}

.navbar a {
  display: block;
  color: white;
  float: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 50;
  font-family: 'Dosis', sans-serif;
}

.content
{
    padding: 16px;
}

.sticky
{
    position:fixed;
    top:0;
    width:100%
}

.sticky + .content
{
    padding-top: 102px;
}

.main {
  margin-top: 30px;
    padding: 16px;
    height: 1500px;
}
