#header
{
    text-align: center;
    top: 0;
    padding: 0px;
}

.navbar
{
    float: left;
    width: 100%;
    background-color: #CCAF54;
    margin-top: 0;
    border-top: 0;
    
}

.navbar a {
  display: block;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2vw;
  font-family: 'Dosis', sans-serif;

}

.subnav
{
    float: left;
    overflow: hidden;
    
}

.subnav .subnavbtn
{
    font-size: 2vw;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Dosis', sans-serif;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn
{
    background-color: #CCAF54;
}

.subnav-content
{
    display: none;
    position: absolute;
    left: 0;
    background-color: #a3bfb4;
    width: 100%;
    z-index: 1;
}

.subnav-content a
{
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover
{
    background-color: white;
    color: #CCAF54;
}

.subnav:hover .subnav-content {
  display: block;
}

.content
{
    padding: 16px;
}

.sticky
{
    position: fixed;
    top:0;
    width:100%
}

.sticky + .content
{
    padding-top: 102px;
}


.image
{
    padding-top: 15px
}

@media screen and (min-width: 480px) {
    div.example {
        font-size: 15;
    }
}
@media screen and (max-width: 320px) {
    div.example {
        font-size: 10;
    }
}


.p4{
    font-family: 'Montserrat', sans-serif;
    color: #513a2c;
    font-size: 20;
    text-align: center;
    padding: 15px;
    padding-left: 20%;
    padding-right: 20%;
}

.p5{
    font-family: 'Montserrat', sans-serif;
    color: #513a2c;
    text-align: center;
    padding: 10px;
    padding-top: 0px;
    padding-left: 20%;
    padding-right: 20%;
}

.column3
{
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 40px
}

.row:after
{
    content: "";
    display: table;
    clear: both;
}

.p6
{
    font-family: 'Montserrat', sans-serif;
    color: #513a2c;
    font-size: 20;
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    text-decoration: none;
}
.p6:hover
{
    text-decoration: underline;
}
.p7:hover
{
    text-decoration: underline;
}

.p7
{
    font-family: 'Montserrat', sans-serif;
    color: #513a2c;
    text-align: left;
    font-size: 20;
    padding-left: 20%;
    padding-right: 20%;
    text-decoration: none
}

.wrapper
{
    margin: 0 auto;
    width: 80%;
    min-height: 90%;
}
html, body
{
    height: 100%;
}
.footer {
    background:#a3bfb4;
    color: white;
    height: 210px;
    position: relative;
    width: 100%;
}

.row
{
    padding: 15px;
    width: 300%;
    transition: 1s;
    padding: 15px;
    border: 5px solid transparent;
    text-align: left;
}

.column
{
    float:left;
    width: 25%;
    text-align: left;
}

.footersectionabout
{
    font-family:'Dosis', sans-serif;
}

.footersectionlink
{
    font-family: 'Dosis', sans-serif;
}

