#header
{
    font-size: 3.5vw;
    color: #CCAF54;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

.sticky
{
    position:fixed;
    top:0;
    width:100%
}

.sticky + .content
{
    padding-top: 50%;
}

body
{
    background-color: white;
    font-family: 'Dosis', sans-serif;
    color: #a3bfb4;
}


